@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body{
    font-family: Nunito;
    background: white;
}

.card{
    border: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.table-responsive{
    border-radius: 8px;
}

.btn {
    border: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}